
.cat_images{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;

}
.sub_categorie{
    text-align: center;
}
.prof_pic{
    height: 250px;
}
.book_image{
    height: 300px;
}

footer img{
    margin:0%;
    height: 25px;
}

nav{
    text-align: center;
    font-size: 1.5em;
}

header>a{
    margin: 0%;
    position: absolute;
}
h1,h2,h3,h4,h5{
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 2.1em;
}

.copyright {
    text-align: center;
}
.footer_contact_left,.footer_contact_right,.copyright{
    display: block;
    text-align: center; 
}

.footer_contact_right{

    justify-content: flex-end;
    float: inline-end;
}

.footer_contact_left{

    justify-content: flex-start;
    float: inline-start;
}

/* General Styling (what properties will be in every tag)*/
body,header,footer,main, h1, h2, h3, h4, nav, a, section, article, p, ul, ol, li, strong, footer, picture, img, source, figure, figcaption {
    margin: 0.5em;
    padding: 0.3em;
    font-family: "Roboto", sans-serif;
    font-size: 1.0em;

}
body,header,footer,main{
    background-color: #FEFAE0;
}
/* Main tags and pseudo-classes*/
body{}
header>img{
    position: absolute;
    display: flex;
    justify-content:space-between;
}

h1{}
h2{}
h3{}
h4{}
/* Centralise the navigation menu */
nav{
    display: flex;
    justify-content: center;

}
/* Enlarge the text when hover */
nav a:hover{
    font-size: 1.1em;
}
/* Link decoration */
a{
    text-decoration: none;
    color: #A66326;
    transition:  all .35s ease;
    font-weight: 500;
    padding: 0.5em;
    margin: 0.7em;
}
/* Link hover decoration */
a:hover{
    color: #603916;
}
/* Link on click decoration */
a:active{
    color: #283618;
}

main{}
section{}
article{}
p{}
ul{}
ol{}
li{}
strong{}
footer{}
picture{}
img{}
source{}
figure{}
figcaption{}

/* Classes and IDs*/
.footer_contact_right{}
.footer_contact_left{}

/* Setup for the layout */
.person_left, .person_right {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.5em;
    justify-content: flex-start;
}

/* Make text stick to the right */
.person_right{
    text-align: right;
}

/* Style the names */
.figname {

    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.makesmaller{
    margin-left: 7em;
    margin-right: 7em;
    
}
.topimage{
    height: 5em;
}
.nav_categories{}
.categorie{}
.cat_images{}
.sub_categorie{}

.copyright{
    text-align: center;
    font-weight: 300;
}

.description{}
.book_image{}
.tables-of-content{}
