.prof_pic{
    height: 250px;
}
.book_image{
    height: 300px;
}

footer img{
    margin:0%;
    height: 25px;
}

nav{
    text-align: center;
    font-size: 1.5em;
}

header>a{
    margin: 0%;
    position: absolute;
}

h1{
    font-size: 2.1em;
}

.copyright {
    text-align: center;
}
.footer_contact_left,.footer_contact_right,.copyright{
    display: block;
    text-align: center; 
}

.footer_contact_right{

    justify-content: flex-end;
    float: inline-end;
}

.footer_contact_left{

    justify-content: flex-start;
    float: inline-start;
}

/* General Styling (what properties will be in every tag)*/
body,header,footer,main, h1, h2, h3, h4, nav, a, section, article, p, ul, ol, li, strong, footer, picture, img, source, figure, figcaption {
    margin: 0.5em;
    padding: 0.3em;
    font-family: "Roboto", sans-serif;
    font-size: 1.0em;
    color: #283618;
}
body,header,footer,main{
    background-color: #FEFAE0;
}
/* Main tags and pseudo-classes*/
body{}

header>img{
    position: absolute;
    display: flex;
    justify-content:space-between;
}

h1,h2,h3,h4,h5{
    text-align:center;
    color: #603916;
}

/* Centralise the navigation menu */
nav{
    display: flex;
    justify-content: center;

}
/* Enlarge the text when hover */
nav a:hover{
    font-size: 1.1em;
}
/* Link decoration */
a{
    text-decoration: none;
    color: #A66326;
    transition:  all .35s ease;
    font-weight: 500;
    padding: 0.5em;
    margin: 0.7em;
}
/* Link hover decoration */
a:hover{
    color: #603916;
}
/* Link on click decoration */
a:active{
    color: #283618;
}

main{}
section{}
article{}
p{}
ul{}
ol{}
li{}
strong{}
footer{}
picture{}
img{}
source{}
figure{}
figcaption{}

/* Classes and IDs*/
.footer_contact_right{}
.footer_contact_left{}

/* Setup for the layout */
.person_left, .person_right {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.5em;
    justify-content: flex-start;
}

/* Make text stick to the right */
.person_right{
    text-align: right;
}

/* Style the names */
.figname {

    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.makesmaller{
    margin-left: 7em;
    margin-right: 7em;
    
}
.topimage{
    height: 5em;
}
.nav_categories{
    /* background-color: #283618; */
    justify-content: center;
}

/*  */
.category {
    /* background-color: #603916;
    border: 2px solid black; */
    padding: 1em;
    width: 90em;
    margin: auto;
}

.category h3{
    font-size: 1.6em;
    margin-bottom: 0.5em;
    text-align: start;
}

.category_content{
    display: flex;
    align-items: flex-start;
}

.category_image{
    flex: 1;
    margin-right: 3em;
}

.category_image img, .category_image source{
    height: 13em;
    display: block;
    margin: auto;
    width: 23em;
    /* width: auto; */
}

.category_links{
    flex: 4;
    list-style-type: none;
}

.category_links li{
    margin-bottom: 1em;
}

.category_links li:last-child{
    margin-bottom: auto;
    margin-top: 1em;
}


.copyright{
    text-align: center;
    font-weight: 300;
}

.description{}
.book_image{}
.tables-of-content{}
